<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>Shared Session</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/flex.css" media="(min-width: 1280px)">
    <link rel="stylesheet" href="static/css/flex_mobile.css" media="(min-width: 320px) and (max-width: 767px)">
    <link rel="stylesheet" href="static/css/flex_tablet.css" media="(min-width: 768px) and (max-width: 1279px)">
    <link rel="stylesheet" href="static/css/sharedSession.css" media="(min-width: 1280px)">
    <link rel="stylesheet" href="static/css/sharedSession_mobile.css" media="(min-width: 320px) and (max-width: 767px)">
    <link rel="stylesheet" href="static/css/sharedSession_tablet.css" media="(min-width: 768px) and (max-width: 1279px)">
    <script type="text/javascript" src="webjars/jquery/jquery.js"></script>
</head>
<body>
<h1>Hello! ElastiCache Redis sample!</h1>
<p>Update Session data.</p>
<table>
    <thead>
    <tr>
        <th>セッションアップデート実行コンテナ</th>
        <th>最終更新日時</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${sampleSession.getHost()}"></td>
        <td th:text="${sampleSession.getLastUpdatedAt()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>